<div class="fixed inset-y-0 left-0 w-64 bg-blue-600 text-white">
    <div class="p-4">
    </div>
    <nav class="mt-8">
        <a href="{% url 'gestionar_trabajadores' %}" class="block py-2 px-4 hover:bg-blue-700">Gestionar Trabajadores</a>
        <a href="{% url 'gestionar_criterios_evaluacion' %}" class="block py-2 px-4 hover:bg-blue-700">Gestionar Criterios de Evaluación</a>
        <a href="{% url 'gestionar_evaluaciones' %}" class="block py-2 px-4 hover:bg-blue-700">Gestionar Evaluaciones</a>
        <a href="#" class="block py-2 px-4 hover:bg-blue-700">Cálculo de Puntuaciones</a>
        <a href="#" class="block py-2 px-4 hover:bg-blue-700">Reportes y Análisis</a>
        <li>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="block py-2 px-4 hover:bg-blue-700 mt-8">Cerrar sesión</button>
            </form>
        </li>
    </nav>
</div>

